*{
  margin: 0px;
  padding:0px;
}
.side-bar{
  background-color: #111a28;
 /* background: rgba(10, 5, 5, 0.7); */
 box-shadow: 0 0 12px rgba(10, 5, 5, 0.7);
  height: 100vh;
  color: orangered;
}

.head{
  display: flex;
  justify-content: center;
  height: 50px;
  margin:0px;
}
.head>h2{
  margin-top: 10px;
}
.side-bar-list{
  width: 100%;

}
.side-bar-list ul li{
 
  list-style: none;
  /* background-color: aqua; */
  margin-top: 8px;
  padding:14px 20px;
  font-size: 25px;
  cursor: pointer;
}
.fa-book-blank{
  color: pink;
}
.side-bar-list ul li a{
  /* background-color: aqua; */
  text-decoration: none;
}
.side-bar-list ul span{
  margin-left: 6px; 
}
.side-bar-list ul li:hover{
  /* border-left: 2px solid whitesmoke; */
  /* box-shadow: rgb(37, 232, 223); */
  background:white;
  /* background-color:goldenrod; */
}


.half{
 padding: 0px;
}
.nav-bar{
  height: 70px;
 background-color:#111a28;
 color:whitesmoke;
}

.db-head{
  padding: 12px 20px;
  
}

.dash{
 
  padding-left: 25px;
}